* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    font-size: 14px;
}



/*First Section STYLING */

.mainSection {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url(./images/netflix1.jpg);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-color: rgba(31, 1, 1, 0.8);
    margin-bottom: 1px;
}

.navigation {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation img {
    cursor: pointer;
    width: 140px;
    transition: 0.3s;
    transition-property: transform;
}

.navigation img:hover {
    transform: scale(1.2);
}
.menuItems {
    background: transparent;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    align-content: center;
}

.menuItems li {
    list-style-type: none;
    transition: 0.3s;
    transition-property: transform;
}

.menuItems li:hover {
    transform: scale(1.2);
}

.menuItems li a {
    color: white;
    margin: 0 40px;
    text-decoration: none;
    padding: 10px;
}

.navigation .login-button {
    color: white;
    text-decoration: none;
    font-size: 15px;
    border: none;
    padding: 10px 40px;
    border: 0px solid;
    border-radius: 15px;
    background-color: rgb(148, 5, 5);
    margin-right: 15px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: transform;
}

.navigation .login-button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transform: scale(1.1);
}

.firstSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: ;
    margin: 100px;
}

.firstSection h1 {
    color: white;
    font-size: 5em;
    letter-spacing: -4px;
    line-height: 1.3em;
    margin-bottom: 40px;
}

.firstSection h1 span {
    font-weight: 300;
    font-size: 4rem;
}

.firstSection .enter-gate {
    color: white;
    font-size: 16px;
    padding: 15px 65px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: rgb(148, 5, 5);
    margin-right: 15px;
    cursor: pointer!;
    text-decoration: none;
}

.firstSection .enter-gate:hover {
    background-color: white;
    color: rgb(148, 5, 5);
}

/*Styling for 2nd Section */

.secondSection {
    min-height: 80vh;
    background-color: #000;
    padding: 40px;
    align-content: center;
}

.subSection1 {
    width: 90%;
    margin: auto;
}

.subSection1 h2 {
    font-size: 2.2em;
    text-align: left;
    color: white;
    margin-bottom: 40px;
}

.innerSection1 {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.imageBox {
    display: flex;
    justify-content: flex-start;
}
.imageBox img {
    width: 100%;
}

/*Styling for 3RD Section */

.thirdSection {
    height: 75vh;
    background-color: #000;
    padding: 40px;
    align-content: center;
}

.subSection2 {
    width: 90%;
    margin: auto;
}

.subSection2 h2 {
    letter-spacing: -1px;
    font-size: 2.2em;
    text-align: left;
    margin-bottom: 20px;
    color: white;
}

.innerSection {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

.boxes {
    background: linear-gradient(354deg, rgba(2,0,36,1) 0%, rgba(3,3,41,1) 34%, rgba(19,140,164,1) 100%);
    color: white;
    text-align: left;
    padding: 40px 20px 50px 20px;
    margin-right: 30px;
    border-radius: 15px;
    width: 70%;
    height: 300px;
    position: relative;
    box-shadow: 0 1px 5px #35347e;
}

.boxes h3 {
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

.boxes p {
    font-weight: 300;
    z-index: 1;
}

.boxes img {
    position: absolute;
    bottom: 15px;
    right: 15px; 
    width: 70px;
}

/* Styling for the Fourth Section */

.fourthSection {
    height: 40vh;
    background-color: #000;
    padding: 40px;
    align-content: center;
}

.innerSection2 {
    margin: auto;
}

.innerSection2 h3 {
    font-size: 1.5em;
    text-align: center;
    color: white;
    font-weight: 400;
    margin-bottom: 20px;
}

.innerSection2 input {
    padding: 18px;
    background-color: rgb(15, 15, 15);
    color: white;
    border: 1px solid #c0bebe;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 5px;
}
.innerSection2 input:hover {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0bebe;
}

.innerSection2 input[type=email] {
    width: 50%;
    margin: 0 10px 0 0;
}

.innerSection2 input[type=submit] {
    background-color: rgb(148, 5, 5);
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
}

.innerSection2 input[type=submit]:hover {
    background-color: white;
    color: rgb(148, 5, 5);
}


/* Styling for the Landing Page FOOTER */

footer {
    background-color: black;
    padding: 40px;
    min-height: 75vh;
    font-weight: 300;
    margin-top: 1px;
    color: #ebe8e8;
    margin: auto;
    align-content: flex-start;
}

.footer-wrapper {
    width: 85%;
    margin: auto;
}

.footer-wrapper h3 {
    text-align: left;
    text-decoration: underline;
    font-size: 16px;
    margin-bottom: 30px;
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
}

.footer-menu {
    width: 80%;
}

.footer-menu ul li {
    list-style-type: none;
    text-align: left;
    padding: 0 0 10px 0;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #fafafa;
}
.footer-menu ul li a:hover {
    text-decoration: underline;
}

.signature {
    text-align: left;
    margin-top: 60px;
}
.signature select {
    margin-bottom: 40px;
    padding: 7px 30px;
    background-color: transparent;
    border: 1px solid #c0bebe;
    color: #ebe8e8;
    border-radius: 5px;
}










/* Styling for the LOGIN PAGE */

#loginPage {
display: flex;
justify-content: center;
align-content: center;
min-height: 100vh;
background-image: url(./images/cinema.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-blend-mode: darken;
} 
.formSection{
margin: auto;
color: white;
background-color: transparent;
border: 2px solid rgba(255, 255, 255, .2);
backdrop-filter: blur(20px);
width: 420px;
border-radius: 12px;
padding: 30px 40px;
}

.formSection h1 {
color: white;
font-size: 2.4em;
text-align: center;
}
.formSection .input-box {
width: 100%;
height: 50px;
margin: 20px 0;
position: relative;
}

.input-box input {
width: 100%;
height: 100%;
background-color: transparent;
border: none;
outline: none;
border: 2px solid rgba(255, 255, 255, .2);
border-radius: 40px;
font-size: 16px;
color: white;
padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
color: white;
}

.input-box i {
position: absolute;
right: 20px;
top: 30%;
transform: translate(-50%);
font-size: 20px;
}

.formSection .remember-forgot {
display: flex;
justify-content: space-between;
font-size: 14px;
margin -15px 0 15px;
}

.remember-forgot label {
accent-color: white;
margin-right: 3px;
}
.remember-forgot a {
color: white;
text-decoration: none;
}
.remember-forgot a:hover {
text-decoration: underline;
}

.formSection button {
width: 100%;
height: 45px;
color: white;
font-size: 16px;
font-weight: 600;
padding: 10px;
border: none;
outline: none;
border: 1px solid #c0bebe;
background-color: rgb(148, 5, 5);
border-radius: 40px;
box-shadow: 0, 0, 10px rgba(0, 0, 0, .1);
cursor: pointer;
margin: 20px 0;
}

.formSection .register-button {
font-size: 14px;
text-align: center;
margin: 10px 20px;
}

.formSection p a {
color: white;
text-decoration: none;
font-weight: 600;
}

.formSection p a:hover {
text-decoration: underline;
}
